{% extends 'base.html.twig' %}
{% form_theme formUser 'bootstrap_4_layout.html.twig' %}
{% block body %}
<div class="col-lg-10 ml-lg-auto p-3 col-md-12 col-sm-12 content-to-load-section">
    <h3 class="logo text-center">
        <i class="fas fa-edit"></i> INSCRIPTION
    </h3>
    <hr>
    <div class="row">
        <div class="col-8 offset-2">
            {{form_start(formUser)}}
            {{form_row(formUser.email, {'label':'Adresse email','attr': {'placeholder':"Taper l'adresse email",'class': 'my-input'}})}}
           
            <button class="btn btn-success move-btn" type="submit">
                S'inscrire
            </button>
            {{form_end(formUser)}}
        </div>
        
    </div>
</div>
{% endblock %}