{% extends 'base.html.twig' %}
{% form_theme formchambre 'bootstrap_4_layout.html.twig' %}
{% block body %}
<div class="col-lg-10 ml-lg-auto p-3 col-md-12 col-sm-12 content-to-load-section">
    <h3 class="logo text-center">
    {% if editChambre %}
        <i class="fas fa-edit"></i> MODIFICATION DES INFORMATIONS D'UNE CHAMBRE
    {% else %}
        <i class="fas fa-plus-square"></i> AJOUT D'UNE CHAMBRE
    {% endif %}
    
    </h3>
    <hr>
    <div class="row">
        <div class="col-8 offset-2">
            {{form_start(formchambre)}}
            {{form_row(formchambre.numBat, {'attr': {'placeholder':"Taper le numéro du bâtiment",'class': 'my-input'}})}}
            {{form_row(formchambre.type, {'attr': {'class': 'my-input', 'label':'Type de la chambre'}})}}
            <button class="btn btn-success move-btn" type="submit">
                {% if editChambre %}
                    Enregister
                {% else %}
                Ajouter la chambre
                {% endif %}
            </button>
            {{form_end(formchambre)}}
        </div>
        
    </div>
</div>
{% endblock %}